<div>
    <ul class="menu">
        <li>
            <a type="button" routerLink="/about">about</a>
        </li>
        <li>
            <a type="button" routerLink="/experience">experience</a>
        </li>
        <li>
            <a type="button" routerLink="/projects">projects</a>
        </li>
        <li>
            <a type="button" routerLink="/skills">Tech Stack</a>
        </li>
        <li>
            <a type="button" routerLink="/tools">tools</a>
        </li>
        <li>
            <a type="button" routerLink="/education">education</a>
        </li>
        
        <li>
            <a type="button" routerLink="/languages">languages</a>
        </li>
        
        
    </ul>
</div>