.menu {
    list-style-type: none;
    display: flex;
    float: left;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}


.menu a {
    background-color: rgb(229, 211, 255);
    text-decoration: none;
    border: none;
    color: rgb(12, 11, 14);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5rem;
    padding: 1rem;
    margin: 1rem;
}

.menu a:hover {
    background-color: rgb(12, 11, 14);
    color: rgb(229, 211, 255);
    border: solid;
    border-color: rgb(229, 211, 255);
    cursor:pointer;
}

.menu a:focus  {
    background-color: rgb(12, 11, 14);
    color: rgb(229, 211, 255);
    border: solid;
    border-color: rgb(229, 211, 255);
}

.contactMe {
    list-style-type: none;
    display: flex;
    float: right;
    margin-top: 1rem;
}

.contactMe li {
    margin: 1rem;
}

.contactMe img:hover {
    cursor:pointer;
    width: 3rem;
    height: 3rem;
}

.contactMe img {
    width: 2rem;
    height: 2rem;
    background-color: rgb(229, 211, 255);
    border-radius: 1rem;
}
