.menu {
    list-style-type: none;
    display: flex;
    max-width: 100;
    float: left;
}

.menu li {
    margin: 1rem;
    margin-top: 2rem;
}

.menu a {
    background-color: #dee2e6 ;
    text-decoration: none;
    border: none;
    color: #6c757c;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    padding: .5rem;

}

.menu a:hover {
    background-color: #6c757c;
    color: #dee2e6;
    cursor:pointer;
}

.menu a:focus  {
    background-color: #6c757c;
    color: #dee2e6;
}


.contactMe {
    list-style-type: none;
    display: flex;
    max-width: 100%;
    float: right;
    margin-top: 2rem;
}

.contactMe li {
    margin: 1rem;
    margin-top: 1rem;
}

.contactMe a {
    background-color: #dee2e6 ;
    text-decoration: none;
    border: none;
    color: #6c757c;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    padding: .5rem;

}

.contactMe a:hover {
    cursor:pointer;
}

.contactMe a:focus  {
    background-color: #6c757c;
    color: #dee2e6;
}

.contactMe img {
    width: 1.5rem;
    height: 1.5rem;
}
