<div>
    <ul class="menu">
        <li>
            <a type="button" routerLink="/about">about</a>
        </li>
        <li>
            <a type="button" routerLink="/experience">experience</a>
        </li>
        <li>
            <a type="button" routerLink="/projects">projects</a>
        </li>
        <li>
            <a type="button" routerLink="/skills">Tech Stack</a>
        </li>
        <li>
            <a type="button" routerLink="/education">education</a>
        </li>
        
    </ul>
</div>
<div>
    <ul class="contactMe">
        <li>
            <a href="https://www.linkedin.com/in/rachel-paltiel-88b188222/"><img src="assets\linkedin.png" alt="linkedIn profile"></a>
        </li>

        <li>
            <a href="https://github.com/RachelPaltiel"><img src="assets\gitHub.png" alt="gitHub Account" ></a>
        </li>

        <li>
            <a href="mailto:rachel.paltiel21@gmail.com"><img src="assets\gmail.png" alt="contactMe" ></a>
        </li>
    </ul>
</div>