div {
    padding: 1rem;
    max-width: 30rem;
    min-height: 5rem;
    margin: 1rem;
}

p {
    background-color: #fff;
    padding: 1rem;
}

table {
    text-align: left;
    border-spacing: .5rem .5rem; 
    display: flex;
}

td {
    padding: .3;
    margin-left: 0;
    border-color: #dee2e6;
    background-color: #fff;
    min-width: 10rem;
    text-align: center;
}