<div><h2>In Short</h2></div>
<div class="about">
    <div>
        <h2>About this website</h2>
        <p>This website was developed using: Angular8+.<br>
            Each component (listed in the NavBar) is designed to demonstrate different techniques.<br>
            I'd love for you to code review, I'm here to learn:<br>
            My snippets are previewed in the 'Tech Stack' section.<br>
        </p>
    </div>
    <div>
        <h2>To Sum it Up</h2>
        <p>Motivated Full Stack Developer with a passion for technology.<br>
            Autodidact and focused learner who loves challenges.<br>
            Creative when it comes to problem solving.<br>
        </p>
    </div>
</div>
<div class="map">
    <h2>Are we close?</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54094.45057210103!2d34.861323175320685!3d32.07186786762494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c86e794e4ad%3A0x2d00bf3ee717526f!2z16jXnteqINeS158sINeZ16nXqNeQ15w!5e0!3m2!1siw!2sde!4v1662621487028!5m2!1siw!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    

