    <div class="timeline">
        <div class="container right">
            <div class="content">
                <button (click)="ShowEladQAS()">
                    <h2>
                        06.2022 - now
                        <small><br><br>QA Tester: Elad Solutions</small>
                    </h2>
                </button>                    
            </div>
        </div>
        <div class="container left">
            <div class="content">    
                <button (click)="ShowFinbotPM()">
                    <h2>
                        01.2022 - 06.2022
                        <small><br><br>Product manager: Finbot</small>
                    </h2>
                </button>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <button (click)="ShowFinbotQA()">
                    <h2>
                        06.2020 - 01.2022
                        <small><br><br>QA Tester: Finbot</small>
                    </h2>
                </button>
            </div>
        </div>
    </div>


    
<div id="EladQA" class="EladQA">
    <P>
        Full-time QA tester, works with SQL Server Management
    </P>
    <p>
        Running procedures and writing complex queries on daily basis
    </p>
    <p>
        Part of an Agile team, full cooperation with the developers and Product
    </p>
    <p>
        Managing work using Jenkins & TFS
    </p>
</div>

<div id="FinbotPM" class="FinbotPM">
    <p>
        Promoted from QA to Product manager
    </p>
    <p>
        Was given the opportunity to study Data System Analytics
    </p>
    <p>
        Managed Sprints, Backlog and Roadmap of the product
    </p>
        <p>
            Conducted Daily, Bi-weekly and Retrospectives meetings
        </p>
    <p>        
        Worked alongside with the Dev team, understanding the system’s structure and technology<br><br>
    </p>
</div>

        
<div id="FinbotQA" class="FinbotQA">
    
    <p>
        Manual QA testing on a dedicated local environment, Testing specific branches as well as the master
    </p>
    <p>
        Git, Jira and BitBucket were the tools I worked with, navigating through fixes and commits
    </p>
    <p> 
        Learned to use the tools around me to meet requirements and achieve team goals (Dev Tools, Git, Google Analytics and more)<br><br>          
    </p>
</div>