* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 50rem;
    height: 30rem;
    float: left;
}

.timeline::after {
    content: '';
    position: absolute;
    width: .3rem;
    background-color: rgb(229, 211, 255);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -.3rem;
}

.container {
    padding: 0 2.5rem;
    position: relative;
    background-color: rgb(12, 11, 14);
    width: 30rem;
    margin: 0;
    display: inline-block;
}

.container::after {
    content: '';
    position: absolute;
    width:  1rem;
    height: 1rem;
    left: 22rem;
    right: 30rem;
    background-color: rgb(229, 211, 255);
    border: 4px solid rgb(229, 211, 255);
    top: 1rem;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 2rem;
}

.right {
    left: 50%
}

.left::before {
    content: "";
    height: 0;
    position:absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 9.8rem;
    border: medium solid rgb(229, 211, 255);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(34, 31, 41);
}

.right::before {
    content: "";
    height: 0;
    position:absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #6c757c;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(34, 31, 41) transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 1rem 2rem;
    background-color: rgb(34, 31, 41);
    position: relative;
    border-radius: 6px;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    
    .timeline::after {
        left: 31px;
    }
    
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid #6c757c;
        border-width: 10px 10px 10px 0;
        border-color: transparent #6c757c transparent transparent;
    }

    .left::after, .right::after {
        left: 20px;
    }

    .right {
        left: 0;
    }
}


button {
    border: none;
    color: rgb(12, 11, 14);
    background-color: rgb(34, 31, 41);
    font-family:'Trebuchet MS';
    cursor: pointer;
    width: 13.2rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

button :hover {
    text-shadow: 0 0 .3rem #ffff;
}

p {
    color: #ffff;
    background-color: rgb(34, 31, 41);
    text-align: left;
    float: right;
    padding: 1rem;
    width: 24rem;
    height: fit-content;
    margin-right: 12rem;
    border-radius: 1rem;
    margin-top: 0;
}

.EladQA {
    display: none;
}

.FinbotPM {
    display: none;
}

.FinbotQA {
    display: none;
}