<div>
    <h2>Experience</h2>
        <button (click)="ShowEladDiv()">QA Tester: <b>Elad Solutions</b> 6/2022 - now</button>

        <button (click)="ShowFinbotDiv()">QA Tester: <b>Finbot</b> 6/2020 - 6/2022</button>

        <button (click)="ShowMyHRDiv()">QA Tester: <b>MyHr</b> 11/2019 - 6/2020</button>
</div>

<div id="EladDiv" class="EladDiv">
    <p> •	Full-time QA tester, worked on a C# based system and SQL DataBase <br>
        •	Ran procedures, queries and tested different functions using SQL server (Microsoft) <br>
        •	 Assigned with a VB.Net API project, a system that served both the QA team and the Dev team <br>
        •	Worked in a QA team with daily interactions with the Developers and DBA <br>
        •	Jenkins and TFS were the main tools we worked with <br>
        
    </p>
</div>
<div id="FinbotDiv" class="FinbotDiv">
    <p> •	Promoted to Product Manager and was sent to study Data System Analytics <br>
        •	Studied SQL, C#, HTML, CSS, JavaScript in the Technion and built a web application based on those technologies <br>
        •	Git and Jira were the tools we worked with, in an Agile environment  <br>
        •	Promoted to QA from Tech Support after proving my value and knowledge of web applications and technologies (self-taught) <br>
        •	Learned to use the tools around me to meet requirements and achieve team goals (Google Dev Tools, Git, Google Analytics and more) <br>
    </p>
</div>
<div id="MyHrDiv" class="MyHrDiv">
    <p> •	First step in the Startup world, where I discovered the wonders of technology<br>
        •	Agile mindset and work methodology were rooted to me from the start <br>
        •	Promoted to QA from Payroll Accounting in order to test a Fintech web application, took up 40% off my job<br>
        •	Jira Software was the tool we used to manage our work items<br>
    </p>
</div>