div {
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
}

table {
    text-align: left;
    border-spacing: 0 1rem; 
}

td , th {
    padding: 1rem;
    border-color: #dee2e6;
    background-color: #f0f5fa;
}

th {
    margin: 1rem;
}

p {
    background-color: #fff;
    padding: 1rem;
    max-width: fit-content;
}

button {
    background-color: #fff ;
    text-decoration: none;
    border: none;
    color: #6c757c;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem;
    margin-left: 0;

}

button:hover {
    background-color: #6c757c;
    color: #dee2e6;
    cursor:pointer;
    left: 1em;
}

button:focus  {
    background-color: #6c757c;
    color: #dee2e6;
}

.EladDiv {
    display: none;
}

.FinbotDiv {
    display: none;
}

.MyHrDiv {
    display: none;
}