div {
    padding: 1rem;
    margin: 3rem;
    width: 80rem;
    display: inline-block;
}

a {
    color: rgb(229, 211, 255);
    font-family:'Trebuchet MS';
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    width: 20rem;
    background-color: rgb(34, 31, 41);
    margin: 1rem;
    margin-right: 3rem;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

a:hover {
    border: solid;
    border-color: rgb(229, 211, 255);
}