div {
    padding: 1rem;
    max-width: 60rem;
    min-height: 5rem;
    margin: 1rem;
    margin: 0 auto ;
}

table {
    text-align: left;
    border-spacing: 0 2rem;     
}

td {
    padding: 3rem;
    color: rgb(229, 211, 255);
    background-color: rgb(34, 31, 41);
}