<div>
<h2>Tech Stack</h2>
</div>
<div>

    <button (click)="showWikiSQL()" >SQL</button>
    <button (click)="showWikiCSharp()" >C#</button>
    <button (click)="showWikiHtml()" >HTML</button>
    <button (click)="showWikiCSS()" >CSS</button>
    <button (click)="showWikiJS()" >JavaScript</button>
    <button (click)="showWikiTS()" >TypeScript</button>
    <button (click)="showWikiAngular()" >Angular</button>

</div>
<div class="SQLiFrame" id="SQLWiki">
    <iframe src="https://en.wikipedia.org/wiki/SQL">SQL</iframe>
</div>
<div class="CSharpiFrame" id="CSharpWiki">
    <iframe src="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</iframe>
</div>
<div class="HtmliFrame" id="HtmlWiki">
    <iframe src="https://en.wikipedia.org/wiki/HTML">HTML</iframe>
</div>
<div class="CSSiFrame" id="CSSWiki">
    <iframe src="https://en.wikipedia.org/wiki/CSS">CSS</iframe>
</div>
<div class="JSiFrame" id="JSWiki">
    <iframe src="https://en.wikipedia.org/wiki/JavaScript">JavaScript</iframe>
</div>
<div class="TSiFrame" id="TSWiki">
    <iframe src="https://en.wikipedia.org/wiki/TypeScript">TypeScript</iframe>
</div>
<div class="angulariFrame" id="AngularWiki">
    <iframe src="https://en.wikipedia.org/wiki/Angular_(web_framework)">Angular</iframe>
</div>