<div>
    <h2>Tech Stack</h2>
    <div>
        <button (click)="showClient()">Client</button>
        <button (click)="showServer()">Server</button>
        <button (click)="showFrameWork()">FrameWork</button>
        <button (click)="showTools()">Tools</button>        
    </div>
    <div class="techStack">
        <p id="client">Client | HTML | CSS | JS | TS </p>        
        <p id="server">SQL | C# </p>
        <p id="frameWork">Angular | ASP.NET MVC </p>
        <p id="tools">GitHub & SVN | Jira & TFS | Docker </p>
    </div>
</div>