div {
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
}

h2 {
    padding: 0;
    margin: 0;
}

table {
    border-spacing: .5rem; 
    padding: 2rem;
    margin-right: 1rem;
    float: right;
}

td {
    padding: .5rem;
    border-color: #dee2e6;
    background-color: #fff;
    min-width: 10rem;
    text-align: center;
}


button {
    background-color: #fff ;
    text-decoration: none;
    border: none;
    color: #6c757c;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem;
    margin-left: 0;
    min-width: 6rem;

}

button:hover {
    background-color: #6c757c;
    color: #dee2e6;
    cursor:pointer;
    left: 1em;
}

button:focus  {
    background-color: #6c757c;
    color: #dee2e6;
    border: none;
}


code {
    font-size: 100%;
    color: #dee2e6;
    float: left;
    max-height: 15rem;
    max-width: 30rem;
    background-color: #6c757c;
    overflow-y: auto; 
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: #6c757c;
    border-radius: 100px;
    width: 2rem;
}

::-webkit-scrollbar-track-piece {
    border-width: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  border-radius: 10rem; 
  width: 1rem;
}

.SQLiFrame {
    display: none;
}


.CSharpiFrame {
    display: none;
}

.HtmliFrame {
    display: none;
}

.CSSiFrame {
    display: none;
}

.JSiFrame {
    display: none;
}

.TSiFrame {
    display: none;
}


.angulariFrame {
    display: none;
}