div {
    padding: 1rem;
    max-width: 30rem;
    min-height: 5rem;
    margin: 1rem;
}


button {
    background-color: #fff ;
    text-decoration: none;
    border: none;
    color: #6c757c;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    font-weight: bold;
    width: 12rem;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    box-shadow: 0 , 999 #6c757c;
}

button:hover {
    background-color: #6c757c;
    color: #dee2e6;
    cursor:pointer;
    left: 1em;
}

button:focus  {
    background-color: #6c757c;
    color: #dee2e6;
}

.techStack {
    float: left;
    margin-left: 2rem;
}

#client {
    display: none;
    
    color: #dee2e6;
    background-color: #6c757c;
    padding: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    height: 2rem;
    width: fit-content;
}

#server {
    display: none;
    color: #dee2e6;
    background-color: #6c757c;
    padding: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    height: 2rem;
    width: fit-content;
}

#frameWork {
    display: none;
    color: #dee2e6;
    background-color: #6c757c;
    padding: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    height: 2rem;
    width: fit-content;
}

#tools {
    display: none;
    color: #dee2e6;
    background-color: #6c757c;
    padding: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    height: 2rem;
    width: fit-content;
}