a {
    color: rgb(85, 255, 255);;
    display: block;
    padding: 1rem;
    font-family:'Trebuchet MS';
    text-decoration: none;
}

div {
    padding: 1rem;
    max-width: 30rem;
    min-height: 5rem;
    margin: 1rem;
    margin-bottom: 0;
}