    <div class="techStackButton">
        <button (click)="showClient()">
            Client
            <p id="client">HTML<br><br>CSS<br><br>JS<br><br>TS</p>
        </button>
        <button (click)="showServer()">
            Server
            <p id="server">SQL<br><br>C# </p>
        </button>
        <button (click)="showFrameWork()">
            FrameWork
            <p id="frameWork">Angular<br><br>ASP.NET MVC</p>
        </button>
        <button (click)="showTools()">
            Tools
            <p id="tools">GitHub & SVN<br><br>Jira & TFS<br><br>Docker</p>
        </button>        
    </div>